@CHARSET "UTF-8";

#tablePersonne tr:nth-child(even) {
	background-color: green;
	color: white;
}

#tablePersonne{
	border-collapse: collapse;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
}
#tablePersonne td{
	padding: 5px;
	text-align: center;
}

#tablePersonne th{
	padding: 5px;
	background-color: orange;
}

#formPersonne .cell{
	display: inline-block;
}

#formPersonne .cell:FIRST-CHILD{
	min-width: 200px;
	text-align: right;
}