@CHARSET "UTF-8";

body{
	background-color: #E0FFFF;
}

.semiWidth{
	width: 50%;
}

.centered{
	text-align: center;
}

#BarreId{
	text-align : right;
	background-color: #BCF46E;
}

#BarreMenu{
	text-align : center;
	background-color: #BCF46E;
}



@media screen and (min-width:1250px) {
    .cell2{
	width : 1250px;
	}
	.tablePersonneAdmin{
	width : 800px;
	}
	
}

@media screen and (max-width:800px) {
.tablePersonneAdmin{
	overflow-x:scroll;
	}
}
@media screen and (min-width:800px) {
.tablePersonneAdmin{
	width : 1200px;
	}
}

@media screen and (max-width:1249px) {
    .cell2{
	overflow-x:scroll;
	}
	
}
