@CHARSET "UTF-8";

body{
	background-color: #E0FFFF;
}

.semiWidth{
	width: 50%;
}

.centered{
	text-align: center;
}

#BarreId{
	text-align : right;
	background-color: #BCF46E;
}

#tablePersonne tr:nth-child(even) {
	background-size: cover;
	background-image: -webkit-gradient(linear,center left, center right, from(#FFFFFF), color-stop(80%,#D9FAF6), to(#D9FAF6));
	background-image:    -moz-linear-gradient(left, #FFFFFF 0%, #D9FAF6 80%);
	background-image:     -ms-linear-gradient(left, #FFFFFF 0%, #D9FAF6 80%);
	background-image:      -o-linear-gradient(left, #FFFFFF 0%, #D9FAF6 80%);
	background-image:         linear-gradient(left, #FFFFFF 0%, #D9FAF6 80%);
/*	color: white;*/
	
}

#tablePersonne tr:nth-child(odd) {
	background-size: cover;
	background-image: -webkit-gradient(linear,center left, center right, from(#D9FAF6), color-stop(20%,#FFFFFF), to(#FFFFFF));
	background-image:    -moz-linear-gradient(left, #D9FAF6 20%, #FFFFFF 100%);
	background-image:     -ms-linear-gradient(left, #D9FAF6 20%, #FFFFFF 100%);
	background-image:      -o-linear-gradient(left, #D9FAF6 20%, #FFFFFF 100%);
	background-image:         linear-gradient(left, #D9FAF6 20%, #FFFFFF 100%);
/*	color: white;*/
	
}
#tablePersonne{
	border-collapse: collapse;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
}
#tablePersonne td{
	padding: 5px;
	text-align: center;
}

#tablePersonne th{
	padding: 5px;
	background-color: orange;
}

#formPersonne .cell{
	display: inline-block;
}

#formPersonne .cell:FIRST-CHILD{
	min-width: 200px;
	text-align: right;
}